.btn-toolbar {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.left-btn {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.right-btn {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.item {
  margin: auto;
  width: 100%;
  padding: 10px;
}
button {
  font-size: 20px;
}
.submitBtn {
  color: white;
}
.float-container {
  border: 1px solid #fff;
  padding: 1px;
}

.float-child-right {
  display: inline-flex;
  float: right;
  padding: 1px;
}
.float-child-left {
  display: inline-flex;
  float: left;
  padding: 1px;
  padding-top: 18%;
}
.matField {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
