.btn-toolbar {
  display: flex;
  justify-content: space-between;
}
.left-btn { 
  display: flex;
  flex: 1;
  justify-content: flex-start; 
}
.right-btn { display: flex;
  flex: 1;
  justify-content: flex-end; }

    .float-container {
      border: 3px solid #fff;
      padding: 2px;
  }
  
  .float-child {
  
      float: left;
      padding: 2px;
      
  }  
  .matfield{
    width: 100%;
  }
  h3 span {
    padding-left: 5px; 
    font-size:16px; 
  color: rgba(32, 27, 27, 0.76);
  }