<mat-tab-group mat-stretch-tabs>
    <mat-tab label="{{'userManagement.managePassword' | transloco}}">
        <div class="float-container">
            <div class="float-child-right">
                <h5>{{'userManagement.userInformation.userName' | transloco}}: <span>{{UserInfo.username}}</span></h5>
                <h5>{{'userManagement.userInformation.userEmail' | transloco}}: <span>{{UserInfo.email}}</span> </h5>
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                    <p>
                        <mat-form-field class="matfield" appearance="outline" class="matfield">
                            <mat-label class="col-sm-2 col-form-label">{{'userManagement.userManagement.password' |
                                transloco}}</mat-label>
                            <input type="password" matInput formControlName="password"
                                [type]="fieldTextType ? 'text' : 'password'">
                            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors.required">
                                    {{'userManagement.formErrors.passwordRequiredPrompt' | transloco}}
                                </div>
                            </mat-error>
                            <mat-icon matSuffix (click)="toggleFieldTextType()"><span class="material-icons-outlined">
                                    {{icon}}
                                </span></mat-icon>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="matfield" appearance="outline" class="matfield">
                            <mat-label class="col-sm-2 col-form-label">{{'userManagement.userManagement.repeatPassword'
                                | transloco}}</mat-label>
                            <input type="confirmedPassword" matInput formControlName="confirmedPassword"
                                [type]="fieldTextType ? 'text' : 'password'">
                            <mat-error *ngIf="Form.confirmedPassword.touched && Form.confirmedPassword.invalid">
                                <div *ngIf="Form.confirmedPassword.errors.required">
                                    {{'userManagement.formErrors.passwordRequiredPrompt' | transloco}}</div>
                                <div *ngIf="Form.confirmedPassword.errors.confirmedValidator">
                                    {{'userManagement.formErrors.passwordMatchPrompt' | transloco}}</div>
                            </mat-error>
                            <mat-icon matSuffix (click)="toggleFieldTextType()"><span class="material-icons-outlined">
                                    {{icon}}
                                </span></mat-icon>
                        </mat-form-field>
                    </p>
                    <div class="btn-toolbar">

                        <div class="left-btn">
                            <button mat-button mat-dialog-close class="sub" color="accent" type="submit"
                                [disabled]="!checkoutForm.valid">
                                <mat-icon matSuffix>
                                    <span class="material-icons-outlined">
                                        lock
                                    </span>
                                </mat-icon>
                                {{'userManagement.userManagement.updatePassword' | transloco}}
                            </button>
                            <button mat-stroked-button mat-dialog-close (click)="resetUserPassword()">
                                <mat-icon matSuffix> email</mat-icon>
                                {{'userManagement.userManagement.resetLink' | transloco}}
                            </button>
                        </div>
                        <div class="right-btn">
                            <button mat-button mat-dialog-close>{{'buttons.close' | transloco |
                                uppercase}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>