<div style="  text-align: center;">
    <img class="animate__animated animate__bounce" src="./assets/images/Hnet.com-image (1).png" alt="this is my pic">
    <div>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="matfield" appearance="outline">
                    <mat-label class="col-sm-2 col-form-label">{{'userManagement.userManagement.password' | transloco}}
                    </mat-label>
                    <input type="password" matInput formControlName="password"
                        [type]="fieldTextType ? 'text' : 'password'">
                    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            {{'userManagement.formErrors.passwordRequiredPrompt' | transloco}}
                        </div>
                    </mat-error>
                    <mat-icon matSuffix (click)="toggleFieldTextType()"><span class="material-icons-outlined">
                            {{icon}}
                        </span></mat-icon>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="matfield" appearance="outline">
                    <mat-label class="col-sm-2 col-form-label">{{'userManagement.userManagement.repeatPassword' |
                        transloco}}</mat-label>
                    <input type="confirmedPassword" matInput formControlName="confirmedPassword"
                        [type]="fieldTextType ? 'text' : 'password'">
                    <mat-error *ngIf="getForm.confirmedPassword.touched && getForm.confirmedPassword.invalid">
                        <div *ngIf="getForm.confirmedPassword.errors.required">
                            {{'userManagement.formErrors.passwordRequiredPrompt' | transloco}}</div>
                        <div *ngIf="getForm.confirmedPassword.errors.confirmedValidator">
                            {{'userManagement.formErrors.passwordMatchPrompt' | transloco}}</div>
                    </mat-error>
                    <mat-icon matSuffix (click)="toggleFieldTextType()"><span class="material-icons-outlined">
                            {{icon}}
                        </span>
                    </mat-icon>
                </mat-form-field>
            </div>
            <div [ngClass]="loading == true ? 'circles' : 'none'">
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
                <div class="primary"></div>
            </div>

        </form>
        <button mat-stroked-button color="primary" [disabled]="!checkoutForm.valid" (click)="onSubmit()">
            {{'userManagement.userManagement.updatePassword' | transloco}}
        </button>
    </div>





</div>