<mat-card>
  <div class="btn-toolbar">
    <div class="right-btn">
      <button mat-button color="accent" (click)="handelNewUserDialog()">
        <mat-icon matSuffix>
          <span class="material-icons-outlined">
            person_add_alt
          </span>
        </mat-icon>
        {{'buttons.addUser' | transloco}}
      </button>
    </div>
  </div>

  <div class="tableContainer">
    <table mat-table [dataSource]="users" matSort (matSortChange)="sort($event)">
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[0].label}} </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[1].label}} </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <!-- Role Column -->
      <ng-container matColumnDef="userRole">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[2].label}} </th>
        <td mat-cell *matCellDef="let element">{{getUserRoleText(element)}} </td>
      </ng-container>


      <!-- Avatar Column -->
      <ng-container matColumnDef="Avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'userManagement.managePassword' | transloco}}</th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation();">
          <div class="left-btn">
            <button mat-mini-fab color="primary" (click)="handelPasswordDialog(element)"
              aria-label="Example icon button with a menu icon">
              <mat-icon><span class="material-icons-outlined">
                  vpn_key
                </span>
              </mat-icon>
            </button>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"
        (click)="handelUserDetailsDialog(row)">
      </tr>
    </table>
  </div>

  <div class="property-text-center noResults" *ngIf="users.length===0">
    <h3>{{'table.noResults' | transloco}}.</h3>
  </div>
  <mat-paginator #pagingBar [length]="totalOrders" [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
    [showFirstLastButtons]="true" (page)="page($event)">
  </mat-paginator>

</mat-card>