[mat-dialog-title] {
    text-transform: uppercase;
    margin-bottom: 30px;
  }


  mat-dialog-actions button {
    text-transform: uppercase;
    
  }

  .tokendialog {
    margin-top: 30px;
    
  }
  
  .clipBoardButton {
    margin-left: 30px;
    font-size: 16px;
  }

  mat-dialog-actions {
    justify-content: center;
    margin-top: 50px;

  }


  .matTooltip {
      font-size: 16px;
  }


  .mat-divider {
    display: block;
  }